
header{
    height: 60vh;
    $image: ("./styles/stockImg/logo2.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.29),rgba(0, 0, 0, 0.043)),url($image);
    display: block;
    background-position: bottom;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%);
}


.nav-item {
    margin-top: 5px;
}

.hero-text-box{
    position: absolute;

    /* Make the element in the center, with top just abit higher 40%  */
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);  

    text-align: center;
    display: flex;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
